_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
.codex
Gemfile.lock
assets/libs/
assets/pdf/books/*.pdf
assets/pdf/books/*.mp3 
node_modules/
assets/pdf/books.md
assets/pdf/books (copy).md
assets/pdf/_New_CV_Rezwan.pdf
assets/pdf/Updated_CV_Rezwan.pdf
assets/pdf/Resume_Rezwan.pdf
Old__README.md
vendor
.idea*.mp3
*.mp3
*.mp3
