{% if site.bib_search %}
  <script src="{{ '/assets/js/bibsearch.js' | relative_url | bust_file_cache }}" type="module"></script>
  <div class="pub-search-wrapper">
    <i class="fas fa-search pub-search-icon"></i>
    <input type="text" id="bibsearch" spellcheck="false" autocomplete="off" class="search bibsearch-form-input" placeholder="Search publications by title, author, venue, year...">
  </div>
{% endif %}
